<div class="row about">
<div class="col-md-8 col-md-offset-2">
<p id="content"> 
I am a Ruby on Rails Developer and Entrepreneur who loves to build things that will make your life better. During my spare time, I rock climb, read and am a part-time Hummus junkie.
</p>
</div>
</div>

