.container
  .row
    .col-md-3
    .col-md-6
      .well
        %h3
          Email:
          %a{:href => "mailto:dsmilansky@gmail.com"} dsmilansky@gmail.com
        %h3
          Github:
          %a{:href => "www.github.com/smilansky"} www.github.com/smilansky  