<div class="row">
<div class="home-column col-md-8 col-md-offset-2">
  <h3 class="column-header"></h3>

  <p class="content"> 
  This section contains projects that I developed for fun.
  </p>
</div>


</div>

<div class="row">
  <div class="home-column col-md-8 col-md-offset-2">
    <h3 class="column-header" class="center"></h3>

    <p class="content">
    <%= link_to 'Game of Life', gameoflife_path %>
    - A 'cellular automation' developed by Cambridge mathematician John Conway. Built with Vanilla JS, CSS Animations and Transitions.
    <p class="content">
    You can find the source code <%= link_to 'here', 'http://www.github.com/smilansky/gameoflife/' %>.
    </p>
    <p class="content">
    <%= link_to 'ClipFlix', 'http://fathomless-coast-3489.herokuapp.com' %>
    - A NetFlix clone that integrates with Stripe.
    </p>
  </div>
</div>

