<div class="row">
<div class="home-column col-md-8 col-md-offset-2">
  <h3 id="column-header"></h3>

  <p id="content"> 
  This section contains pet projects that I developed for fun.
  </p>
</div>


</div>

<div class="row">
  <div class="home-column col-md-8 col-md-offset-2">
    <h3 id="column-header" class="center"></h3>

    <p id="content">
    <%= link_to 'Game of Life', gameoflife_path %>
    - A 'cellular automation' developed by Cambridge mathematician John Conway. Built with Vanilla JS, CSS Animations and Transitions.
    <p id="content">
    You can find the source code <%= link_to 'here', 'http://www.github.com/smilansky/gameoflife/' %>
    </p>
    <p id="content">
    <%= link_to 'ClipFlix', 'http://fathomless-coast-3489.herokuapp.com' %>
    - A NetFlix clone that integrates with Stripe.
    </p>
    <p id="content">
    <%= link_to '20onesix', 'http://www.20onesix.com' %>
    - A 2016 Presidential Candidate Cheat Sheet.
    </p>

  </div>


</div>

