<div class="row">
<div class="home-column col-md-8 col-md-offset-2">
  <h3 id="column-header"></h3>

  <p id="content"> 
  I build web applications with the goal of improving the lives of others. I also rock climb and am a part-time Hummus junkie.
  </p>
</div>


</div>


<div class="row contact">
  <div class="home-column col-md-8 col-md-offset-2">
        <div class="contact-info center">
      <%= link_to 'https://github.com/smilansky', :class => 'icon-link' do %>
        <i class="fa fa-github fa-4x"></i>
      <% end %>
      <%= mail_to "dsmilansky@gmail.com", :class=> 'icon-link' do %>
        <i class="fa fa-envelope fa-4x" data-toggle="email" title=""></i>
      <% end %>
      <i class="fa fa-phone fa-4x" data-toggle="phone" title=""></i> 
    </div>
  </div>


</div>

