<div class="row">
    <h3 class="column-header"></h3>

    <p class="content"> 
    Im an entrepreneur who builds things, writes and rock climbs.

    Check out my <%= link_to 'blog', blog_path %>. 
    </p>

    <p class="content">
    <a href="http://www.contactsweeper.com">Contact Sweeper</a>

    </p>



</div>




