.wrapper
  %h1 Daniel Smilansky
  .article{display: "block"}
    %p.paragraph I am a Ruby on Rails Developer and Entrepreneur who loves to build things that will make your life better. During my spare time, I rock climb, read classic novels and am a part-time Hummus junkie.


  .center.contact
    = link_to image_tag('gmail.png', height: "100px", width: "100px"), "mailto:dsmilansky@gmail.com"
    = link_to image_tag('GitHub-Mark-64px.png'), "https://github.com/smilansky"

