<div class="row">
<div class="home-column col-md-8 col-md-offset-2">
  <h3 id="column-header"></h3>

  <p id="content"> 
  I build web applications with the goal of improving the lives of others. I also rock climb and am a part-time Hummus junkie.
  Check out my <%= link_to 'blog', blog_path %> 
  </p>
</div>


</div>




