.jumbotron
  %h1 Daniel Smilansky
  %h4 I am a passionate Web Developer who loves to build things that will make your life better.
.container
  .row
    .col-md-2
    .col-md-4
      %a= link_to "ClipFlix", "http://fathomless-coast-3489.herokuapp.com/", class: "btn btn-primary btn-lg"
      %h2 ClipFlix is a small-scale NetFlix clone built with Ruby on Rails and Postgres.
      
    .col-md-4
      %a= link_to "Blackjack", "http://web21.herokuapp.com", class: "btn btn-primary btn-lg"
      %h2 A web-based version of blackjack built with Ruby on the Sinatra framework.
      
