<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h3 class="column-header"></h3>


    <div class="row">
      <div class="col-xs-4 ">
        <%= image_tag "daniel_pic.jpg", class: "img-circle", height: 150, width: 150 %> 
      </div>
      <div class="col-xs-8">
      <p class="content"> 
      Im an entrepreneur who builds things, writes and rock climbs.

      </p>
      </div>


    </div>
  </div>



</div>




