
<div class="row">
   <div class="home-column col-md-5 col-md-offset-2">
    <h3 id="column-header"></h3>

<p id="content"> 
I am a Ruby on Rails Developer and Entrepreneur who loves to build things that will make your life better. During my spare time, I rock climb, read and am a part-time Hummus junkie.
</p>
    </div>

<div class="home-column col-md-4 col-md-offset-1">

  <h3>

<!-- www.intagme.com -->
<!-- www.intagme.com -->
<iframe src="http://www.intagme.com/in/?u=c21pbGFuc2t5fHNsfDI1MHwyfDN8fHllc3w1fHVuZGVmaW5lZHx5ZXM=" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:265px; height: 265px" ></iframe></div>


 
</div>

