<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3 class="center">List of Javascript Facts</h3>
    <ul>
      <li class="contact-info">
      Closure is when a function can remember and access its lexical scope even when it's invoked outside its lexical scope.
      </li>
      <li class="contact-info">
      There are six values that evaluate to falsy - "", 0, -0, NaN, null, undefined, false      </li>
<li class="contact-info">
      Built in types - null, undefined, boolean, number, string, object, symbol      </li>
      </ul>
</div>
