.wrapper
  .article{display: "block"}
    .clipflix.center
      = link_to image_tag('clipflix.png'), "http://fathomless-coast-3489.herokuapp.com/"
    %a.project.paragraph{href: "http://fathomless-coast-3489.herokuapp.com/"} 
      Clipflix
    %paragraph is a Movie Trailer application built with Ruby on Rails and Postgres.
