<div class="wrapper">
<div class="article" display="block">
  <div class="clipflix center">
    <%= link_to 'Clipflix', "http://fathomless-coast-3489.herokuapp.com/" %>
    </a>
    <p> is a Movie Trailer application built with Ruby on Rails and Postgres.</p>
  </div>
</div>
</div>
