<% @posts.each do |post| %>
<div class="post normal-text">
  <h3 class="post-title"><%= link_to post.title, view_posts_path(post) %></h3>
  <div class="post-content">
    
    
  </div>
</div>
<% end %>
