.contact-form {
  margin: 0 auto;
}

.contact-info {
  text-transform: none !important;
  text-align: center;
}


.contact-info {
  margin-top: 20px;
}

#contact-submit {
  text-align: center;
}
#contact-submit {
}

.submit-button {
  width: 200px;
}

.icon-link {
  color:inherit;
  text-decoration: none; 
}

.icon-link a:hover {
  border: none; 
}



