@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  margin: 50px auto;
}

section { 
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.paragraph {
  text-align: center;
  margin: 0 0 2ex 0;
  margin-left: 400px;
  margin-right: 400px;
}

.center h1 {
  margin-bottom: 10px;
}

.well {
  margin-top: 100px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.6em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: inherit;
}

h4 {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

p {
  font-size: 1em;
  line-height: 24px;
  display: block;
}

/* header */

.links {
  text-align: center;
  padding-bottom: 20px;
}


.wrapper {
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #ffffff;
  height: 400px;
}

.jumbotron h1 {
  color: inherit;
}

/* buttons */



.btn-lg {
  padding: 10px 16px;
  font-size: 20px;
  line-height: 1.33;
  border-radius: 6px;
  margin-left: 50px;
}

.btn-primary {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}

/* links */

a {
  text-decoration: none;
  margin-right: 50px;
  font-size: 2em;
}

a {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition: border-color .5s ease-in-out,color .5s ease-in-out;
  transition:.5s;
}

a:hover { 
  color:green;
  text-decoration: none;  
 }

.contact{
  margin-top: 100px;
}

 .contact a{
   border-bottom: 0px;
 }

 .clipflix {
 margin-top: 50px;
 margin-bottom: 20px;
 }

 .clipflix a{
 border-bottom: 0px;
 }

 .article .project{
  text-decoration: none;
  margin-right: 0px;
  border-bottom: 0px;
  font-size: 1em;
 }

 img { 
  opacity: 1; 
} 

img:hover { 
  opacity: .7; 
}
