.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}


.footer-page-divider {
  border-bottom: 1px solid #ddd;
  margin-top: 20px;
  margin-bottom: 10px;
}

.footer-text{
  font-size: 14px;
  font-weight: 400;
  text-transform: none;  
  color: #777;
}
