.post-footer {
  margin-top: 12px;
  border-top: 1px solid #eee;
}

.post-body {
  font-size: 18px;
  font-family: Georgia, Verdana, sans-serif;
  margin-bottom: 40px;
  margin-left: 5%;
}

.post-title {
  color: #337ab7; 
  font-family: "Palatino Linotype", "Book Antiqua", "Palatino", "Georgia", serif;
  margin-bottom: 20px;
  text-align: center;
}

.post-title a:hover {
  text-decoration: none;
}

